.back-btn-wrap {
  height: 80px;
}
.back-btn {
  background: #404040;
  color: #EC724F;
  border: 1px solid #EC724F;
  width: 200px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
}

.main-menu-wrap .add-key {
  color: #fff;
  padding: 10px;
}
.main-menu-wrap .add-key:hover {
  cursor: pointer;
}
.main-menu-wrap .ant-menu-item-selected {
  color: #fff;
  background: #666 !important;
  border-left: 4px solid #EC724F;
}
.main-menu-wrap .ant-menu-item-active, .main-menu-wrap .ant-menu-item-active:hover {
  background: #666;
  color: #fff !important;
}
.main-menu-wrap .menu-item-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-catalog-wrap .ant-input {
  background: rgb(230, 230, 230);
}
.add-catalog-wrap .btns {
  display: flex;
  margin-top: 10px;
}
.add-catalog-wrap .btn {
  padding: 3px 15px;
  margin-left: 10px;
  font-size: 12px;
}
.add-catalog-wrap .submit-btn {
  border-radius: 20px;
  color: aquamarine;
  border: 1px solid aquamarine;
}
.add-catalog-wrap .cancel-btn {
  color: #ccc;
  border-radius: 20px;
  border: 1px solid #8ccc;
}